@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
  font-family: 'Cabin', sans-serif;
}

.dashboard-page {
    display: flex;
    align-items: center;
}

.result-container {
    background-color: rgb(29, 29, 31);
    box-shadow: 2px 8px 12px 0 rgba(0, 0, 0, 0.322), 6px 12px 15px 0 rgba(0, 0, 0, 0.322);
    color: #FFF;
    position: absolute;
    height: 65vh;
    width: 40vw;
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.result-content {
    padding: 0 1.5rem 0 1.5rem;
}

.welcome-title,
.result-title {
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.3rem;
}

.result-title {
    font-size: 1.7rem;
}

.result-activity-idea,
.result-activity-error {
    background-color: rgb(20, 20, 20);
    height: 6rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.result-activity-error {
    font-size: 1.2rem;
    color: rgb(185, 104, 104);
}

.form-container{
    height: 100vh;
    width: 70vw;
    background-color: rgb(241, 241, 241);
    margin-left: auto; 
    margin-right: 0;
}

input,
select, 
.generate-btn {
    width: 24rem;
    height: 2.7rem;
    margin: 0.4rem 0 0.4rem 0;
    outline: none;
    font-weight: 700;
    padding: 0.3rem;
    border: none;
    background-color: rgb(214, 214, 214);
    letter-spacing: 0.07rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.generate-btn {
    background-color: rgb(29, 29, 31);
    color: #FFF;
    cursor: pointer;
    font-weight: 100;
}

.link-to-history-page {
    text-decoration: none;
    color: rgb(41, 41, 41);
    margin: 2rem 0 0 1.5rem;
    cursor: pointer;
    width: 15rem;
    height: 2rem;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-activity-form {
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: 6rem;
}

.form-title {
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.generate-btn {
    text-transform: uppercase;
    letter-spacing: 0.07rem;
}

@media screen and (max-width: 1050px) {
    .generate-activity-form { 
        margin-right: 4rem;
    }
    
    .welcome-title {
        font-size: 1.3rem;
    }

    .link-to-history-page {
        margin: 1.8rem 0 0 1.5rem;
        width: 11rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 860px) {
    .form-title {
        font-size: 2rem;
    }

    .generate-activity-form { 
        margin-right: 2rem;
    }

    input,
    select, 
    .generate-btn {
        width: 19rem;
        height: 2.2rem;
    }

    .welcome-title,
    .result-title {
        font-size: 1rem;
        margin-bottom: 1.3rem;
    }

    .result-title {
        font-size: 1.2rem;
    }

    .result-activity-idea {
        font-size: 1.1rem;
    }

    .result-activity-error {
        font-size: 1rem;
    }

    .welcome-p {
        font-size: 0.6rem;
    }

    .link-to-history-page {
        width: 8rem;
        height: 1.8rem;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 650px) {
    .form-title {
        font-size: 1.4rem;
        padding-bottom: 1.5rem;
    }

    .generate-activity-form { 
        margin-right: 1.3rem;
    }

    input,
    select, 
    .generate-btn {
        width: 16rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .welcome-title,
    .result-title {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 570px) {
    input,
    select, 
    .generate-btn {
        width: 14rem;
        height: 1.8rem;
        font-size: 0.6rem;
    }

    .link-to-history-page {
        width: 5rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 470px) {
    input,
    select, 
    .generate-btn {
        width: 13rem;
        height: 1.6rem;
        font-size: 0.5rem;
    }

    .result-container {
        height: 57vh;
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 425px) {
    .dashboard-page {
        display: flex;
        flex-flow: column;
    }

    .result-container {
        height: 37vh;
        width: 75vw;
        margin-top: 2rem;
    }

    .form-container{
        height: 80vh;
        width: 100vw;
        margin-top: 20vh;
        display: flex;
        align-items: center;
    }

    .generate-activity-form {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 6rem;
    }

    input,
    select, 
    .generate-btn {
        width: 17rem;
        height: 2.2rem;
        font-size: 0.6rem;
    }
}